[class*=" icon-"], [class^=icon-] {
    color: orange !important;
}

.subtitle {
    border-bottom: solid 1px;
    padding-bottom: 5px;
    font-size: medium;
    color: orange;
    margin-bottom: 10px;
}